= angular_scope(@models)
= angular_scope(:newName => @posts)
= angular_scope(:me => "Tharathorn Inphen")

%p posts.test is {{posts.test}}
%p user.first is {{user.first}}
%p user.last is {{user.last}}
%p myVar is {{myVar}}
%p newName.test is {{newName.test}}
%p me is {{me}}
%p title is {{title}}

%a(href="/posts/show") Show