!!! 5
%html(ng-app="Person8")
  %head
    %title Starkhorn
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    
  %body
    .container(ng-view)
      = yield

    = javascript_include_tag "application"