!!! 5
%html(ng-app="Person8")
  %head
    %title {{title}}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    
  %body
    = angular_scope(@models)

    .container(ng-view)

    = javascript_include_tag "application"